* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, rgb(4, 37, 68) , rgb(78, 9, 9));
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

a, p, span {
  cursor: default;
}


/*===========================================THIS IS THE NAVIGATION BAR FOR THE ENTIRE PAGE===========================================*/
.topnav-container {
  height: 80px;
  background-color: #000000;
  display: flex;
  padding: 0 20px;
  justify-content: center; /* Horizontally center-align the items */
  align-items: center; /* Vertically center-align the items */
}
.topnav {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Horizontally distribute content */
  align-items: center; /* Vertically center-align the items */
  letter-spacing: 0.5px;
}
.topnav .left-nav {
  margin-left: 200px; /* Add some spacing to the left */
  color: #ffffff;
  font-size: 30px; /* Adjust the font size as needed */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav .right-nav {
  margin-right: 200px; /* Add some spacing to the left */
  display: flex;
  justify-content: flex-end; /* Push the anchors to the right */
}
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 30px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s;
  border-bottom: 3px solid transparent;
  position: relative; /* Add this to position the pseudo-element */
}
.topnav a[href="index.html"]:before {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust the distance of the underline from the text */
  left: 50%; /* Center the underline relative to the anchor text */
  transform: translateX(-50%); /* Center the underline horizontally */
  width: 50px; /* Adjust the width of the underline */
  height: 3px; /* Adjust the thickness of the underline */
  background-color: transparent; /* Set the initial background color */
  transition: background-color 0.3s; /* Add a transition effect for the background color */
}
.topnav a.active:before { /* Style the active link's underline */
  background-color: #70044c; /* Change this color to the desired active color */
}
.topnav a:hover {
  color: #ff0066;
}
  /* Style the navigation links for smaller screens */
@media (max-width: 600px) {
  .topnav a {
  float: none;
  display: block;
  flex-direction: row;
  }
}


/*===========================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===========================================*/
/*=================THIS IS THE content OF THE ENTIRE PAGE=================*/
.content-lr {
  margin: 100px;
  align-content: center;
  align-items: center;
  display: flex; /* Use flexbox for layout */
}
/* Media query for smaller screens */
@media (max-width: 600px) {
  .content-lr {
    margin: 20px; /* Adjust the margin for smaller screens */
  }
}

.left {
  width: 40%;
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.image-container {
  width: 100%; /* Use percentage for width to make it responsive */
  max-width: 500px; /* Set a maximum width if necessary */
  height: 500px;
  position: relative;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 36% 64% 48% 52% / 62% 49% 51% 38% 
}
@media (max-width: 600px) {
  .image-container {
  max-width: 100%; /* Set the maximum width to the available width */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
}
@media (max-width: 800px) {
  .image-container {
  max-width: 70%; /* Set the maximum width to the available width */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
}
@media (max-width: 1300px) {
  .image-container {
  max-width: 60%; /* Set the maximum width to the available width */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
}


.right {
  height:fit-content;
  width: 60%;
  padding: 20px; /* Adding some padding for spacing */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
}

.martinfajardo {
  font-family: 'Open Sans', Helvetica, Arial;
  color: #000000;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.dev {
  color: #000000;
  text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.8);
}
.shadow-text {
  text-shadow: 2px 2px 4px rgba(10, 153, 172, 1);
}
button {
  text-decoration: none;
  height: 60px;
  width: 170px;
  border: #000000 2px solid;
  border-radius: 12px;
  background-color: transparent;
  color: #fff;
  font-family: Verdana;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}
/* Hover styles for the button */
button:hover {
  border: #ffffff 2px solid;
  color: #000000;
}
/* Adjust button styles for smaller screens */
@media (max-width: 600px) {
  button {
  width: 100%; /* Full width button for small screens */
  max-width: 80px; /* Set a maximum width to control button size */
  height: auto;
  margin: 10px 0; /* Adjust margin for better spacing */
  font-size: 6px; /* Adjust font size for better readability */
  padding: 5px 10px; /* Adjust padding */
  }
}
/*============THIS IS THE SOSCIALS FOR THE ENTIRE ============*/
.socials {
  height:fit-content;
  float: left;
  margin: 10px auto;
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust the gap between icons */
}
.socials a {
  font-size: 40px; /* Adjust the icon size */
  text-decoration: none;
}
.socials .fa-youtube {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-youtube:hover {
  color: #ff0000; /* Lighter red on hover */
}
.socials .fa-instagram {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-instagram:hover {
  color: #ff0066; /* Lighter pink on hover */
}
.socials .fa-reddit {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-reddit:hover {
  color: #f07b06; /* Lighter orange on hover */
}
.socials .fa-github {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-github:hover {
  color: #00b3a1; /* Lighter teal on hover */
}
.socials .fa-twitter {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-twitter:hover {
  color: #00aced; /* Lighter blue on hover */
}
.socials .fa-facebook{
  color: rgba(10, 153, 172, 1);
}
.socials .fa-facebook:hover {
  color: #0654fc; /* Lighter blue on hover */
}
@media (max-width: 600px) {
  .socials {
  flex-direction: row;
  gap: 10px; /* Adjust the gap between stacked icons */
  align-items: center;
  }
  .socials a {
  font-size: 15px; /* Decrease the icon size */
  }
}


/*===========================================THIS IS THE SCROLL BAR FOR THE ENTIRE PAGE===========================================*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #155b94;
}
::-webkit-scrollbar-thumb:hover {
  background: #0b2e4b;
}
