@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ========================= container ========================== */
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  height: fit-content;
}

.socials a {
  font-size: 40px;
  text-decoration: none;
  color: #8f94fb;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #00b3a1;
  transform: scale(1.2);
  transition: 0.3s ease;
}

@media screen and (max-width: 800px) {
  .socials a {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  .socials a {
    font-size: 30px;
  }
}

/* ========================= container ========================== */
.container {
  padding: 100px;
  width: 100%;
  font-family: 'Poppins';
  flex-wrap: wrap;
}

.container-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slide {
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
  height: 500px;
  padding: 10px;
  border: #7e85f7 solid 1px;
  border-radius: 15px;
}

.slide:hover {
  border: #4e54c8 solid 1px;
  transition: 0.3s ease;
}

.category {
  text-align: center;
}

.slide:hover {
  .category {
    color: #4e54c8;}
}

@media (max-width: 768px) {
  .slide {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}