@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ========================= container ========================== */
.socmed {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 10px;
  height: fit-content;
}

.socials a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #8f94fb;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #00b3a1;
  transform: scale(1.2);
  transition: 0.3s ease;
}

@media screen and (max-width: 800px) {
  .socials a {
    font-size: 2.188rem;
  }
}

@media screen and (max-width: 480px) {
  .socials a {
    font-size: 1.875rem;
  }
}

.container {
  padding: 1rem;
  width: 100%;
  font-family: 'Poppins';
  flex-wrap: wrap;
}

.interests,
.socmed {
  text-align: center;
  margin: 2.5rem 1rem 2.5rem 1rem;
}

.slide {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.80rem;
}

.card {
  margin: 1rem;
  width: 10rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  margin: auto;
}

.card a {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 8rem;
    margin: .75rem;
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 7rem;
    margin: 0.25rem;
    font-size: 9px;
  }
}

.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  width: 6rem;
}

li:hover {
  color:#8f94fb;
}