@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing:border-box;
  margin: 0;
  font-family: 'Poppins';
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .hi {
  color: white;
} 
.dark-mode .hi2 {
  color: white;
}
.dark-mode .button1 {
  border: #ffffff 2px solid;
}

a, p, span {
  cursor: default;
}


/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ========================= container ========================== */
.container {
  padding: 100px;
  width: 100%;
  font-family: 'Poppins';
}
.container-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.slide1, .slide2, .slide3, .slide4 {
  margin: 10px;
  width: 98%;
  height: 500px;
  padding: 10px;
  border: #7e85f7 solid 1px;
  border-radius: 15px;
}
.slide1:hover, .slide2:hover, .slide3:hover, .slide4:hover {
  border: #4e54c8 solid 1px;
  transition: 0.3s ease;
}
.category {
  text-align: center;
}
.slide1:hover, .slide2:hover, .slide3:hover, .slide4:hover {
  .category {
    color: #4e54c8;}
}
@media (max-width: 768px) {
  .slide1, .slide2, .slide3, .slide4 {
      width: 100%; /* Set the width to 100% for smaller screens */
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

/* ========================= experience ========================== */
.experience {
  padding: 100px;
  width: 100%;
}
.experience-title {
  margin: 50px;
}
.experience-inner {
  margin: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card1, .card2 {
  border: #7e85f7 solid 2px;
  border-radius: 15px;
  margin: 10px;
  width: 48%;
  height: 225px;
  padding: 20px;
  display: flex;
}
.digitek, .pandalivery {
  border-radius: 12px;
  width: auto;
  margin: 0px 20px 0px 5px;
}
.date {
  font-size: 12px;
  color: #d4d3d3;
}
.card1-content {
  flex: 1;
}
@media (max-width: 768px) {
  .card1 {
    width: 100%;
    font-size: 13px;
  }
}