* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-image: linear-gradient(to right, rgb(4, 37, 68) , rgb(78, 9, 9));
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.topnav {
  height: 80px;
  background-color: #000000;
  display: flex;
  padding: 0 20px;
  justify-content: center; /* Horizontally center-align the items */
  align-items: center; /* Vertically center-align the items */
  width: 100%;
  letter-spacing: 0.5px;
  position:fixed;
}
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 30px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s;
  border-bottom: 3px solid transparent;
  position: relative; /* Add this to position the pseudo-element */
}
.topnav a[href="credits.html"]:before {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust the distance of the underline from the text */
  left: 50%; /* Center the underline relative to the anchor text */
  transform: translateX(-50%); /* Center the underline horizontally */
  width: 50px; /* Adjust the width of the underline */
  height: 3px; /* Adjust the thickness of the underline */
  background-color: transparent; /* Set the initial background color */
  transition: background-color 0.3s; /* Add a transition effect for the background color */
}
.topnav a.active:before { /* Style the active link's underline */
  background-color: #70044c; /* Change this color to the desired active color */
}
.topnav a:hover {
  color: #ff0066;
}
  /* Style the navigation links for smaller screens */
@media (max-width: 600px) {
  .topnav a {
  float: none;
  display: block;
  flex-direction: row;
  }
}

a {
  text-decoration:none;
  color: aqua;
}

.credits,
.language,
.src {
  padding: 100px;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #155b94;
}
::-webkit-scrollbar-thumb:hover {
  background: #0b2e4b;
}
