@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: black;
  font-family: 'Poppins';
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .toggle i {
  color: #fff;
}

/*===========================================CONTENT==================================================*/
.img {
  transition: 0.5s ease;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .img {
    width: auto;
  }
}
.holder {
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: center;
}
.content {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: 100px;
  border: 1px solid #0b2e4b;
  border-radius: 5px;
}
.lower {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #4e54c8;
}
.note {
  margin: 50px;
  text-align: center;
}