@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  background: linear-gradient(41deg, rgba(0,0,0,1) 35%, rgba(2,32,38,1) 100%);
}

body {
  color: #d4d3d3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===================================================== ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
.everything {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

/* ============================ left ============================ */
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landscape-image {
  width: 40rem;
  height: auto;
  border-radius: 12px;
}

/* ================== top ================== */
.image {
  text-align: center;
}

/* ================== bot ================== */
.hello {
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* ============================ right ============================ */
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameholder {
  text-align: center;
  margin: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
  background-color: rgba(219, 217, 232, .2);
}

.name {
  font-size: 3vw;
  transition: color 0.3s ease;
  cursor: pointer;
}

.worksfolder {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.work {
  color: #adadad;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.work::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #39047e;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.work:hover {
  color: #ffffff;
}

.work:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.socmed {
  margin: 1rem;
  text-align: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  height: fit-content;
}
  
.social-link {
  width: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
  
.social-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.social-link:hover {
  transform: scale(1.1);
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 800px) {
  body {
    height:fit-content;
  }  
  .everything {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .left,
  .right {
    width: 100%;
  }
  #landscape-image {
    width: 100%;
    height: auto;
  }
  .divider {
    margin-bottom: 0px;
  }
  .social-link {
    width: 1.5rem;
  }
  .name {
    font-size:10vw;
  }
  .desc {
    font-size: 3.5vw;
  }
  hr {
    width: 70%;
  }
}