@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode {
  color: white;
}

.dark-mode
.cv-button {
  border: #ffffff 1px solid;
}

.bttn {
  margin: 20px;
}

/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ============== upper =============== */

.top {
  text-align: center;
}

#landscape-image {
  width: 100%;
  height: auto;
}

/* ============== bot =============== */
.bot {
  height:fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 1.5vw;
}

.name {
  font-size: 4vw;
  transition: color 0.3s ease;
  cursor: pointer;
}

.desc {
  font-size: 1.5vw;
}

hr {
  margin: auto;
  border: 1px solid #4e54c8;
  width: 32%;
  text-decoration: none;
}

@media (max-width: 800px) {
  .name {
    font-size: 7vw;
  }
  .desc {
    font-size: 3.5vw;
  }
}

.cv-button {
  text-decoration: none;
  height: 60px;
  width: 170px;
  border: #000000 1px solid;
  border-radius: 1em;
  background: linear-gradient(to left, #4e54c8, #8f94fb);;
  color: #181616;
  font-family: Verdana;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.cv-button:hover {
  background: linear-gradient(to bot, #5e64da, #9ea2f8);
  transform: scale(1.03);
  transition: 0.3s ease;
}

@media (max-width: 700px) {
  .cv-button {
  width: 100%;
  max-width: 100px;
  height: 35px;
  margin: 10px 0;
  font-size: 9px;
  padding: 5px 10px;
  }
}