* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

a, p, span {
  cursor: default;
}


/*===========================================THIS IS THE NAVIGATION BAR FOR THE ENTIRE PAGE===========================================*/
.topnav {
  background-color: rgba(10, 153, 172, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.5px;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  position: relative;
}
.topnav a.active { 
  color: black;
}
.topnav a:hover {
  color: #575e5c;
}
@media (max-width: 600px) {
  .topnav {
      flex-direction: column;
      align-items: flex-start;
  }
}


.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff3333;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}



/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ========================= UPPER ========================== */
.upper {
  width: 100%;
  padding: 100px;
  align-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 600px) {
  .upper {
    padding: 20px;
  }
}
/* ============== LEFT =============== */
.left {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 36% 64% 38% 62% / 59% 40% 60% 41% 
}
@media (max-width: 600px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
@media (max-width: 800px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
@media (max-width: 1300px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
/* ============== RIGHT =============== */
.right {
  height:fit-content;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hi2 {
  font-family: 'FontName', sans-serif;
  color: #000000;
}
.hi {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
button {
  text-decoration: none;
  height: 60px;
  width: 170px;
  border: #000000 2px solid;
  border-radius: 12px;
  background-color: rgba(10, 153, 172, 1);
  color: #181616;
  font-family: Verdana;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  background-color: #13d7e6;;
}
@media (max-width: 600px) {
  button {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin: 10px 0;
  font-size: 6px;
  padding: 5px 10px;
  }
}
.socials {
  height:fit-content;
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px; /* Gap between icons */
}
.socials a {
  font-size: 40px; /* Icon size */
  text-decoration: none;
}
.socials .fa-github, .fa-slack, .fa-buymeacoffee, .fa-linkedin, .fa-dev, .fa-mastodon {
  color: rgba(10, 153, 172, 1);
}
.socials .fa-github:hover {
  color: #00b3a1;
}
.socials .fa-slack:hover {
  color: #4e0a5f;
}
.socials .fa-buymeacoffee:hover {
  color:#d1f11f;
}
.socials .fa-linkedin:hover {
  color:#126ce2;
}
.socials .fa-dev:hover {
  color:#ceced3;
}
.socials .fa-mastodon:hover {
  color:#5b12e2;
}
@media screen and (max-width: 768px) {
  .socials {
    gap: 15px;
  }
  .socials a {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .socials {
    gap: 5px;
  }
  .socials a {
    font-size: small;
  }
}

/* ========================= MIDDLE ========================== */
.middle {
  color: #000000;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 800px;
}
.middle-inner {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide1, .slide2, .slide3, .slide4 {
  background-color: rgba(10, 153, 172, 1);
  margin: 10px;
  width: 440px;
  height: 500px;
  padding: 10px;
  border: #000000 solid 1px;
  border-radius: 6px;
}
.category {
  text-align: center;
}
/*===========================================THIS IS THE SCROLL BAR FOR THE ENTIRE PAGE===========================================*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #afaeae;
}
::-webkit-scrollbar-thumb {
  background: #2d2d2e; 
}
::-webkit-scrollbar-thumb:hover {
  background: #080808;
}
