@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .hi {
  color: white;
} 
.dark-mode .hi2 {
  color: white;
}
.dark-mode .button1 {
  border: #ffffff 2px solid;
}

a, p, span {
  cursor: default;
}


/*===========================================THIS IS THE NAVIGATION BAR FOR THE ENTIRE PAGE===========================================*/
.sidebar {
  position: fixed;
  left: 0;
  top: 30px;
  padding: 20px 0 20px 0;
  height: fit-content;
  width: 80px;
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sidebar a {
  color: #1f1d1d;
  font-size: 24px;
  text-decoration: none;
  margin: 50px;
}
.sidebar a:hover i, .logo:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
.sidebar a:hover{
  color: white;
}
.sidebar a.active {
  color: white;
}
.sidebar a.active:hover {
  color: white
}
.toggle {
  cursor: pointer;
  font-size: 24px;
}
.dark-mode .toggle i {
  color: #fff;
}
 .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .sidebar {
    height: fit-content;
    width: 40px;
  }
  .sidebar a {
    font-size: 15px;
    gap: 10px;
    margin: 10px;
  }
  .logo {
    width: 20px;
    height: 20px;
  }
}

/*
.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff3333;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
*/
.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff3333;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.link-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Adjust as needed */
}



/* =====================================================THIS IS THE ENTIRE CONTENT FOR THE ENTIRE PAGE===================================================== */
/* ========================= UPPER ========================== */
.upper {
  width: 100%;
  padding: 100px;
  align-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 600px) {
  .upper {
    padding: 20px;
  }
}
/* ============== LEFT =============== */
.left {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 36% 64% 38% 62% / 59% 40% 60% 41% 
}
@media (max-width: 600px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
@media (max-width: 800px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
@media (max-width: 1300px) {
  .image-container {
  max-width: auto;
  height: auto;
  }
}
/* ============== RIGHT =============== */
.right {
  height:fit-content;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hi2 {
  font-family: 'FontName', sans-serif;
  color: #000000;
}
.hi {
  font-family: 'Poppins';
  color: #000000;
}
.button1 {
  text-decoration: none;
  height: 60px;
  width: 170px;
  border: #000000 2px solid;
  border-radius: 12px;
  background: linear-gradient(to left, #4e54c8, #8f94fb);;
  color: #181616;
  font-family: Verdana;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}
.button1:hover {
  background: linear-gradient(to right, #5e64da, #9ea2f8);
  transform: scale(1.03);
  transition: 0.3s ease;
}
@media (max-width: 600px) {
  .button1 {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin: 10px 0;
  font-size: 6px;
  padding: 5px 10px;
  }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  height: fit-content;
}
.socials a {
  font-size: 40px;
  text-decoration: none;
  color: #8f94fb;
  transition: color 0.3s ease;
}
.socials a:hover {
  color: #00b3a1;
  transform: scale(1.2);
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  .socials {
    gap: 15px;
  }
  .socials a {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .socials {
    gap: 5px;
  }
  .socials a {
    font-size: small;
  }
}

/*===========================================THIS IS THE SCROLL BAR FOR THE ENTIRE PAGE===========================================*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #afaeae;
}
::-webkit-scrollbar-thumb {
  background: #2d2d2e; 
}
::-webkit-scrollbar-thumb:hover {
  background: #080808;
}