@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

/*===========================================THIS IS THE CONTENT FOR THE ENTIRE PAGE===========================================*/
.myworks {
  text-align: center;
}

.workcontents {
  align-items: center;
}

.developer,
.creator {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.developer h3,
.creator h3 {
  margin: 0; /* Remove default margin */
}

hr {
  margin: 0 auto; /* needed because margin affects the alignment */
  width: 90%;
  border: none;
  border-top: 3px double #4e54c8;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.developer-content,
.creator-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.developer-content img,
.creator-content img {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  border: #8f94fb 1px solid;
  max-width: 100%; /* Make images responsive */
  height: auto; /* Prevent images from stretching */
}

.card:hover {
  opacity: 0.8;
}

.card {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 32%;
  }
}