@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

/*===========================================THIS IS THE CONTENT FOR THE ENTIRE PAGE===========================================*/
.myworks {
  text-align: center;
}

.workcontents {
  align-items: center;
}

.developer,
.creator {
  text-align: center;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0 auto; /* needed to keep the hr aligned */
  width: 90%;
  border: none;
  border-top: 3px double #4e54c8;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr.developed::after {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #4e54c8;
  content: 'Developed Projects';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

hr.created::after {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #4e54c8;
  content: 'Pixel Arts';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.dark-mode hr::after {
  background-color: black;
}

.content,
.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.content img,
.content img {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  border: #8f94fb 1px solid;
  max-width: 100%;
  height: auto;
}

.card:hover,
.card2:hover {
  opacity: 0.8;
}

.card {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.card2 {
  border-radius: 12px;
  width: 10%;
  height: 300px;
}

@media (min-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 32%;
  }
}

/* ========== MODAL ========== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 140, 255, 0.3);
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  max-width: 25%;
  max-height: 25%;
  transition: transform 0.2s;
  border: #4e54c8 1px solid;
  box-shadow: 0 0 20px rgba(4, 211, 176, 0.8);
}

.modal.show .modal-content {
  transform: scale(3);
}

@media screen and (min-width: 800px) {
  .modal.show .modal-content {
    transform: scale(2);
  }
}

@media screen and (max-width: 767px) and (min-width: 601px) {
  .modal.show .modal-content {
    transform: scale(1); 
  }
}

@media screen and (max-width: 600px) {
  .modal.show .modal-content {
    transform: scale(0.8);
  }
}