@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins';
}

body.dark-mode {
  background-color: black;
  color: white;
}

/*===========================================THIS IS THE CONTENT FOR THE ENTIRE PAGE===========================================*/
.myworks {
  text-align: center;
}

.workcontents {
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

.content img {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  border: #8f94fb 1px solid;
  max-width: 100%;
  height: auto;
}

.card:hover {
  opacity: 0.8;
}

.card {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 32%;
  }
}