@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  transition: background-color 0.5s ease;
  margin: 50px;
  background-color: #ffffff;
  color: black;
  font-family: 'Poppins';
}
  
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .toggle i {
  color: #fff;
}
  
  /*===========================================THIS IS THE CONTENT FOR THE ENTIRE PAGE===========================================*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column {
  flex-basis: calc(33.33% - 10px); /* Adjusted width for 3 */
  box-sizing: border-box;
  padding-top: 5px;
}
@media screen and (max-width: 992px) {
  .column {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex-basis: calc(100% - 20px);
  }
}
  
.works {
  margin: 50px 50px 0 120px;
}
.workcontents {
  margin: 50px 100px 50px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
.projectanatomy,
.flixplus {
  margin-bottom: 150px;
}
div img {
  width: 550px;
  height: auto;
  border: 2px solid #0b2e4b;
  border-radius: 10px;
  cursor: pointer;
}
.work1imgs,
.work2imgs {
  margin-bottom: 30px;
  align-items: center;
}
  
  
/* ========== MODAL ========== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.modal-content {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.2s;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.modal.show .modal-content {
  transform: scale(3);
}
.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .modal.show .modal-content {
    transform: scale(2);
  }
}
@media screen and (max-width: 767px) and (min-width: 601px) {
  .modal.show .modal-content {
    transform: scale(1); 
  }
}
@media screen and (max-width: 600px) {
  .modal.show .modal-content {
    transform: scale(0.8);
  }
}
  